:root {
    --starbucks-green: #006241;
    --light-green: #d4e9e2;
    --house-green: #1e3932;
    --warm-neutral: #f2f0eb;
}

/*.calories-circle{
	position: fixed;
	animation: scaleout 1s ease-in-out infinite alternate;
}
@keyframes scaleout {
	0% {
		transform: scale(1);
   	}
	100% {
  		transform: scale(1.2);
  	}		      
}*/

body {
    margin: 0;
    font-family: Open Sans;
}

/* typeface: Open Sans */
@font-face {
   font-family: Open Sans;
   src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-ExtraBold.ttf);
  font-weight: 800;
}
@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Light.ttf);
  font-weight: lighter;
}

a, a:visited {
    color: var(--starbucks-green);
}

a:hover, a:active {
    color: var(--light-green);
}

.instruction {
    font-size: 0.9rem;
}

.instruction-action {
    font-weight: bold;
    color: var(--starbucks-green);
}

.main {
    padding: 0 24%;
}

/* basic facts */
#facts-container {
	font-family: Open Sans;
    padding-top: 10vh;
    padding-bottom: 5vh;
    min-width: 300px;
    background-color: var(--house-green);
    color: white;
}

#facts-container a, #facts-container a:visited {
    color: var(--light-green);
}

#facts-container a:hover, #facts-container a:active {
    color: var(--starbucks-green);
}

#facts-container .instruction-action {
    color: var(--light-green);
}

#facts-keyword {
    background-color: var(--house-green);
    outline-style: none;
    width: 100%;
    border: none;
    color: var(--warm-neutral);
}

.facts-thumbnail-svg {
    margin-right: 5px;
    margin-bottom: 5px;
}

.facts-thumbnail-svg g:hover {
    opacity: 0.5;
}

#facts-widget {
    position: absolute;
    padding: 5px;
    width: 240px;
    background-color: #f2f0eb;
    color: black;
}

#facts-widget-img-container {
    width: 100%;
    background-color: #1e3932;
}

#facts-widget-img {
    width: 120px;
    height: 120px;
    display: block;
    margin: auto;
}

#facts-widget p {
    margin: 0.75rem 0.5rem;
}

#facts-widget-name {
    font-weight: bold;
    font-size: 1.2rem;
}

/* basic facts: nav */
#facts-nav {
    display: flex;
    justify-content: space-between;
}

.basic-facts-tabs-active, .basic-facts-tabs {
    display: inline-block;
    font-size: 0.7rem;
    margin: 0px;
    padding: 3px 6px;
    text-align: center;
    text-transform: uppercase;
    color: var(--light-green);
    border-bottom: 2px solid var(--house-green);
}

.basic-facts-tabs:hover {
    border-bottom-color: var(--light-green);
}

.basic-facts-tabs-active {
    font-weight: bold;
    border-bottom-color: var(--light-green);
}

.basic-facts-tabs-active:hover, .basic-facts-tabs:hover {
    cursor: default;
}

#facts-search {
    flex-grow: 2;
    max-width: 150px;
    margin-left: 3px;
}

/* top drinks */
#top-drinks-container {
    padding-top: 10vh;
    padding-bottom: 5vh;
}

#top-drinks {
    display: flex;
    margin: 0 10%;
    min-width: 800px;
    flex-wrap: wrap;
}

#top-drinks-svg {
    display: inline-flex;
    background-color: #white;
}

#top-drinks-details {
    background-color: var(--warm-neutral);
    display: block;
    flex-grow: 2;
    /* HARDCODED */
    min-width: 300px;
    min-height: 400px;
    flex-direction: column;
    padding: 10px;
}

.top-drinks-details-name {
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 300px;
}

.top-drinks-details-others {
    overflow-wrap: break-word;
    font-size: 0.8rem;
}

.top-drink-dots {
    fill: #006241;
    opacity: 0.5;
}

.top-drink-dots:hover {
    opacity: 0.3;
}

.top-drink-dots-others {
    fill: #f2f0eb;
}


/*bar indicating calories*/
.calories-bar {
	margin: 0.75rem 0.5rem;
    position: relative;
    width: 200px;
    /*border: 1px solid #B1D632;*/
    background-color: var(--light-green);
    /*padding: 1px;*/
}


.calories-bar div {
	margin: 0.75rem 0rem;
    display: block;
    position: relative;
    background: #00754a;
    color: #333333;
    height: 10px;
    /*line-height: 10px;*/
}

.calories-bar div span {
    position: absolute;
    width: 200px;
    text-align: center;
    font-weight: bold;
}

/*bar indicating sugar*/
.sugar-bar {
	margin: 0.75rem 0.5rem;
    position: relative;
    width: 200px;
    /*border: 1px solid #B1D632;*/
    background-color: var(--light-green);
    /*padding: 1px;*/
}


.sugar-bar div {
	margin: 0.75rem 0rem;
    display: block;
    position: relative;
    background: #1e3932;
    color: #333333;
    height: 10px;
    /*line-height: 10px;*/
}